autobox-desktop/.vs/
autobox-desktop/autobox-desktop/bin/
autobox-desktop/autobox-desktop/obj/
autobox-desktop/packages/
Autobox.Core/obj/
Autobox.Core/bin/
packages/
Autobox.Desktop/bin/
Autobox.Desktop/obj/
.vs/
Autobox/obj/
Autobox/bin/
